@use "../../../styles/variables.scss" as vars;

.wrapper {
    padding: 0 vars.$padding_x;
    height: 100px;
    background-color: #bad6eb;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.column {
    width: 30%;
    display: flex;

    &:nth-child(1) {
        justify-content: start;
    }

    &:nth-child(2) {
        justify-content: center;
    }

    &:nth-child(3) {
        justify-content: end;
    }
}

.menu_list {
    display: flex;
    gap: 30px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
.userLogo{
    font-size: 1.5rem;
}

.sign_up {
    background-color: #ffdc5f;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
        background-color: #f5c400;
    }
}

@media (max-width: 992px) {
    .logo {
        font-size: 0.9rem;
    }
    .list_item {
        font-size: 0.9rem;
    }
    .userLogo{
        font-size: 1.4rem;
    }
}


@media(max-width:575px) {

}