@use "./../../../../styles/variables.scss" as vars;

.wrapper {
    padding: 100px vars.$padding_x;
    display: flex;
}
.container{
    width: 100%;
}
.title {
    font-size: 2rem;
    margin-bottom: 40px;
}
.posts {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 30px;
    justify-content: space-between;
}