@use "../../styles/variables.scss" as vars;


.wrapper {
    padding: 50px vars.$padding_x;
    min-height: calc(100vh - 100px);
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.column_1{
    width: 60%;
    min-height: 500px;
    padding: 20px 50px;
    background-color: #979dac44;
    height: 100%;
}
.column_2{
    width: 20%;
    padding: 20px;
    background-color: #979dac44;
}
.post {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.timestamp {
    color: vars.$color_grey;
}
.content {
    line-height: 25px;
}
.author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions {
    display: flex;
    gap: 10px;
    
    & > *:hover {
        transform: scale(1.1);
    }
}
.authorInfo{
    display: flex;
    gap: 5px;
    align-items: center;
}